<a href="https://colab.research.google.com/github/prekhanshi/Experiment-4-Study-of-tuple/blob/main/expt4study_of_tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##EDA using python
##exp - 4
##study of Tuple
####Name : Prekhanshi Kumbhakar
###PRN : 25070123151
###batch : Entc A1

In [ ]:
## python tuples
# create tuple and Access tuples items
#tuple is immutable
thistuple = ("apple","mango","tango")
print(thistuple[1])

mango

In [ ]:
thistuple = ("apple","mango","tango")
thistuple[1] = "banana"
print(thistuple)
#tuple is immutable

TypeError: 'tuple' object does not support item assignment

In [ ]:
#append in tuple
thistuple = ("apple","mango","tango")
thistuple.append("banana")
print(thistuple)
#tuple is immutable

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
t1 = (1,2,3,4)
t2 = (5,6,7,8)
t3 = t1+t2
print("t1:",t1)
print("t2:",t2)
print("t3:",t3)

t1: (1, 2, 3, 4)
t2: (5, 6, 7, 8)
t3: (1, 2, 3, 4, 5, 6, 7, 8)

In [ ]:
''' A student's exam result is stored in the form of tuple containing three fixed fields:
subject name, marks obtained and grade
write a python program to:
store the exam result using a tuple
unpack the tuple elements into separate variables
display the subjects,marksand grade

check wheather the student has scored 75 or above and print distinctions if condition is satisfied '''

" A student's exam result is stored in the form of tuple containing three fixed fields:\nsubject name, marks obtained and grade \nwrite a python program to:\nstore the exam result using a tuple\nunpack the tuple elements into separate variables\ndisplay the subjects,marksand grade\n\ncheck wheather the student has scored 75 or above and print distinctions if condition is satisfied "

In [ ]:
#Result analysis of a student
result = ("maths",90,"A")
#unpack the tuple
sub,marks,grade = result
print("subject:",sub)
print("marks:",marks)
print("grade:",grade)

if marks >= 75:
  print("distinction")
print(result)

subject: maths
marks: 90
grade: A
distinction
('maths', 90, 'A')

In [ ]:
#monitoring attendance of an employe
attendance = ("P","P","A","A","P","A")
print("total days present",attendance.count("P"))
print("total days absent",attendance.count("A"))

if attendance.count("A") >= 1:
  print("employee was absent more than once")

total days present 3
total days absent 3
employee was absent more than once